<footer color="primary">
  <div class="footer-container">
    <div class="products">
      <h3>Productos</h3>
      <ul>
        <li><a routerLink="" class="footer-link">Nuevos Productos</a></li>
        <li><a routerLink="" class="footer-link">Ofertas</a></li>
        <li><a routerLink="" class="footer-link">Últimos Productos</a></li>
      </ul>
    </div>
    <div class="about">
      <h3>Acerca de</h3>
      <ul>
        <li><a routerLink="" class="footer-link">Sobre Nosotros</a></li>
        <li><a routerLink="" class="footer-link">Nuestras Tiendas</a></li>
      </ul>
    </div>
    <div class="contact">
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input
          matInput
          placeholder="Digite su correo"
          [formControl]="emailField"
          type="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <h3>Contacto</h3>
      <button
        mat-raised-button
        [disabled]="emailField.invalid"
        (click)="sendMail()"
      >
        Enviar
      </button>
      <!-- <p *ngIf="!emailField.valid">El campo no es válido</p> -->
    </div>
  </div>
</footer>
